.container {
  position: relative;
  border: 1px solid #ccc;
}

.form {
  position: absolute;
  top: -80px;
  left: 40%;
  transform: translateX(-50%);
  min-width: 300px;
  display: flex;
  column-gap: 1rem;
  padding: 5px;
  background-color: #ADE6FF77;
  border-radius: 2rem;
}

.input {
  min-width: 200px;
  text-align: center;
  border: 1px solid #0EA5E9;
  border-radius: 1rem;
  background-color: #FFFA;
  color: #222;
}

.input:hover,
.input:focus {
  outline: none;
  background-color: white;
}

.buttonSubmit[type="submit"] {
  background-color: #0EA5E9;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  border-radius: 1rem;
  cursor: pointer;
}

.buttonSubmit:hover {
  border-color: #148FC6;
  background-color: #148FC6;
}
